extends layout

block content
  h1= title
  div
    form(enctype='application/json', method='post', action='/')
      table
        tr
          td
            p message
          td
            input(name='message', value=data.message)
        tr
          td
          td
            input(type='submit', value='send')
  div
    pre= datastr
